extends header 

block content
  
  include header  
  h2(style='text-align:center') Our Team
  .column
    .card
      .container
        a(href='https://github.com/neerazsai-veeranki', target="_blank").h2 Neerazsai Veeranki 
        p.title Developer
        p s549929@nwmissouri.edu
  .column
    .card
      .container
        a(href='https://github.com/nswathi27', target="_blank").h2 Swathi Nuli
        p.title Developer
        p s555089@nwmissouri.edu
  .column
    .card
      .container
        a(href='https://github.com/Nikithavedanth', target="_blank").h2 Nikitha Vedant Madabhushi 
        p.title Developer
        p s556461@nwmissouri.edu
  .column
    .card
      .container
        a(href='https://github.com/MahithaAvula25', target="_blank").h2 Mahitha Avula 
        p.title Developer
        p s554809@nwmissouri.edu
  .column
    .card
      .container
        a(href='https://github.com/Gomathigade', target="_blank").h2 Gomathi Gade 
        p.title Developer
        p s555491@nwmissouri.edu
  .column
    .card
      .container
        a(href='https://github.com/RajaSekharReddyMadire', target="_blank").h2 Rajashekar Reddy Madire 
        p.title Developer
        p s555824@nwmissouri.edu
  .column
    .card
      .container
        a(href='https://github.com/adithya264', target="_blank").h2 Adithya Varaprasad Muppalla 
        p.title Developer
        p s555485@nwmissouri.edu
