extends layout

block content
  h1 Profile Details
  .card-group
     .col-sm-4
       .shadow-none.p-3.mb-3.bg-light.rounded
         .card.text-white.bg-warning.mb-3(style='max-width: 400px;')
           .row.no-gutters
             .col-md-4
               img.card-img(src='https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png' alt='profile')
             .col-md-8
               .card-body
                  p.card-text Full Name:
                  input#FullName.mt-auto(type='text' name='Full Name')
                  p.card-text UserName:
                  input#UserName.mt-auto(type='text' name='UserName')
                  p.card-text Profile Name:
                  input#ProfileName.mt-auto(type='text' name='Profile Name')
                  p.card-text Location:
                  button.btn
                    i.fa.fa-location-arrow
                        Home

                  p.card-text Followers:
                  input#Followers.mt-auto(type='text' name='Followers') 
