doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Repo Details
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="/stylesheets/style.css")

    style.
      .portfolio-info h3 {
        font-family: cursive;
      }

  body
    main#main
      .portfolio-details
        .container
          .row
            .portfolio-info
              h3.commit-details-title Commit Details
              p.commit-details-description(style="font-family: 'Open Sans', sans-serif; font-size: 16px;") In GitHub, a commit represents a snapshot of changes made to a repository at a specific point in time. It includes the modified files, the author's information, a commit message, and a unique identifier (commit hash) to track and reference the changes.
              strong Total Number Of Commits : 102
              hr
              ul.commit-list
                li.commit-item
                  strong.commit-id(style="font-weight: bold;") Commit ID:
                  |  ed899a2f4b50b4370feeea94676502b42383c746
                li.commit-item
                  strong.commit-date(style="font-weight: bold;") Commit Date:
                  |  2021-09-20T11:50:22.001+00:00
                li.commit-item
                  strong.commit-message(style="font-weight: bold;") Commit Message:
                  |  Replace sanitize with escape once
              hr
              ul.commit-list
                li.commit-item
                  strong.commit-id(style="font-weight: bold;") Commit ID:
                  |  ed899a2f4b50b4370feeea94676502b42383c746
                li.commit-item
                  strong.commit-date(style="font-weight: bold;") Commit Date:
                  |  2021-09-20T11:50:22.001+00:00
                li.commit-item
                  strong.commit-message(style="font-weight: bold;") Commit Message:
                  |  Replace sanitize with escape once
              hr
              ul.commit-list
                li.commit-item
                  strong.commit-id(style="font-weight: bold;") Commit ID:
                  |  ed899a2f4b50b4370feeea94676502b42383c746
                li.commit-item
                  strong.commit-date(style="font-weight: bold;") Commit Date:
                  |  2021-09-20T11:50:22.001+00:00
                li.commit-item
                  strong.commit-message(style="font-weight: bold;") Commit Message:
                  |  Replace sanitize with escape once
