doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Repo Details
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="/stylesheets/style.css")

  body
    main#main
      .portfolio-details
        .container
          .row
            .portfolio-info
              h3 Commit Details
              p In GitHub, a commit represents a snapshot of changes made to a repository at a specific point in time. It includes the modified files, the author's information, a commit message, and a unique identifier (commit hash) to track and reference the changes.
              hr
              ul
                li
                  strong Commit ID:
                  |  ed899a2f4b50b4370feeea94676502b42383c746
                li
                  strong Commit Date:
                  |  2021-09-20T11:50:22.001+00:00
                li
                  strong Commit Message:
                  |  Replace sanitize with escape once
              hr
              ul
                li
                  strong Commit ID:
                  |  ed899a2f4b50b4370feeea94676502b42383c746
                li
                  strong Commit Date:
                  |  2021-09-20T11:50:22.001+00:00
                li
                  strong Commit Message:
                  |  Replace sanitize with escape once
              hr
              ul
                li
                  strong Commit ID:
                  |  ed899a2f4b50b4370feeea94676502b42383c746
                li
                  strong Commit Date:
                  |  2021-09-20T11:50:22.001+00:00
                li
                  strong Commit Message:
                  |  Replace sanitize with escape once
              