doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Repo Details
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="/stylesheets/style.css")

  body
    main#main
      .portfolio-details
        .container
          .row
            .portfolio-info
              h3 Fork Details
              p In GitHub, a "fork" refers to making a copy of a repository owned by another user or organization. When you fork a repository, you create your own copy of the repository in your GitHub account, allowing you to freely make changes to the codebase without affecting the original repository.
              each item in result              
                hr
                ul
                  li
                    strong Forked By:
                    a(href='/viewProfile?id='+item.owner.login)  #{item.owner.login}
                  li
                    strong Forked As:
                    a(href='/repoDetails?id='+item.owner.login+'&repo='+item.name)  #{item.name}
                  //- li
                    strong Commit Message:
                    |  Replace sanitize with escape once


              //- hr
              //- ul
              //-   li
              //-     strong Commit ID:
              //-     |  ed899a2f4b50b4370feeea94676502b42383c746
              //-   li
              //-     strong Commit Date:
              //-     |  2021-09-20T11:50:22.001+00:00
              //-   li
              //-     strong Commit Message:
              //-     |  Replace sanitize with escape once
              //- hr
              //- ul
              //-   li
              //-     strong Commit ID:
              //-     |  ed899a2f4b50b4370feeea94676502b42383c746
              //-   li
              //-     strong Commit Date:
              //-     |  2021-09-20T11:50:22.001+00:00
              //-   li
              //-     strong Commit Message:
              //-     |  Replace sanitize with escape once
              //- hr
