extends layout

block content
  header.navbar.navbar-expand-lg.navbar-light.bg-light.container
    a.navbar-brand(href='/')
      img.logo(src='logo.png' alt='Logo')
    .text-center
      h1.header-title GitHub Analyser
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarNav
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='/about') About Us

