extends layout

block content
  
  h1(class="header")  GITHUB ANALYZER 
  
  input(type="text" placeholder="Enter User Name Or Organization" class="border" style="width: 70%")
  button.button
    span SEARCH

