doctype html
html
  head
  link(rel="stylesheet", href="/stylesheets/style.css")
  body 
    .container
      #page1.jumbotron.page
            a.btn.btn-lg.btn-success(href='#' role='button') Learn More
      #page2.jumbotron.page
            a.btn.btn-lg.btn-success(href='#' role='button') Sign up today
      #page3.jumbotron.page
            a.btn.btn-lg.btn-primary(href='../../components/navbar' role='button') View navbar docs &raquo;
      #page4.jumbotron.page
            a.btn.btn-lg.btn-success(href='#' role='button' style='-webkit-user-select: auto;') Get started today
      #page5.jumbotron.page
            a.btn.btn-lg.btn-primary(href='#') Learn more
      ul#pagination-demo.pagination-lg.pull-right
