extends header

block content 

  include header

  header#header
    .container
  section#repodetails.repodetails
    .container
      .section-title
        br
        h2=result.full_name
      .row
      .row.repodetails-container
        - var commits_url = '/repodetails/commits/?id='+result.owner.login+'&repo='+result.name
        .col-lg-4.col-md-6.repodetails-item.filter-app(onclick="openPopup('" + commits_url + "')")
          .repodetails-wrap
            img.img-fluid(src="https://wallpaperaccess.com/full/1129018.jpg" alt="COMMITS")
            .repodetails-info
              h4 COMMITS
              .repodetails-links
                a(href="#" title="repodetails Details")
                  i.bx.bx-link
        - var forks_url = '/repodetails/forks/?id='+result.owner.login+'&repo='+result.name
        .col-lg-4.col-md-6.repodetails-item.filter-app(onclick="openPopup('" + forks_url + "')")
          .repodetails-wrap
            img.img-fluid(src="https://wallpaperaccess.com/full/1129018.jpg" alt="FORKS")
            .repodetails-info
              h4 FORKS
              .repodetails-links
                a(href="#" title="repodetails Details")
                  i.bx.bx-link
        - var languages_url = '/repodetails/languages/?id='+result.owner.login+'&repo='+result.name
        .col-lg-4.col-md-6.repodetails-item.filter-app(onclick="openPopup('" + languages_url + "')")
          .repodetails-wrap
            img.img-fluid(src="https://wallpaperaccess.com/full/1129018.jpg" alt="LANGUAGES")
            .repodetails-info
              h4 LANGUAGES
              .repodetails-links
                a(href="#" title="repodetails Details")
                  i.bx.bx-link
        - var contributors_url = '/repodetails/contributors/?id='+result.owner.login+'&repo='+result.name
        .col-lg-4.col-md-6.repodetails-item.filter-app(onclick="openPopup('" + contributors_url + "')")
          .repodetails-wrap
            img.img-fluid(src="https://wallpaperaccess.com/full/1129018.jpg" alt="CONTRIBUTORS")
            .repodetails-info
              h4 CONTRIBUTORS
              .repodetails-links
                a(href="#" title="repodetails Details")
                  i.bx.bx-link
        - var pullrequests_url = '/repodetails/pullrequests/?id='+result.owner.login+'&repo='+result.name
        .col-lg-4.col-md-6.repodetails-item.filter-app(onclick="openPopup('" + pullrequests_url + "')")
          .repodetails-wrap
            img.img-fluid(src="https://wallpaperaccess.com/full/1129018.jpg" alt="PULL REQUESTS")
            .repodetails-info
              h4 PULL REQUESTS
              .repodetails-links
                a(href="#" title="repodetails Details")
                  i.bx.bx-link
        - var issues_url = '/repodetails/issues/?id='+result.owner.login+'&repo='+result.name
        .col-lg-4.col-md-6.repodetails-item.filter-app(onclick="openPopup('" + pullrequests_url + "')")
          .repodetails-wrap
            img.img-fluid(src="https://wallpaperaccess.com/full/1129018.jpg" alt="ISSUES")
            .repodetails-info
              h4 ISSUES
              .repodetails-links
                a(href="#" title="repodetails Details")
                  i.bx.bx-link
  script.
    function openPopup(pugFile) {
      var popup = document.getElementById("popup");
      var iframe = document.getElementById("popup-iframe");
      iframe.src = pugFile;
      popup.style.display = "block";
    }
    function closePopup() {
      var popup = document.getElementById("popup");
      var iframe = document.getElementById("popup-iframe");
      iframe.src = "";
      popup.style.display = "none";
    }
  #popup
    .modal-content
      span.close(onclick="closePopup()") &times;
      iframe#popup-iframe(src="")


  p.footer Copyright © 2023 My GitHub Analyser
