extends header

block content 

  include header
  
  .sidebar
    br
    br
    br
    br
    br
    - var commits_url = '/repodetails/commits/?id='+result.owner.login+'&repo='+result.name
    a(href="javascript:void(0)", onclick="loadContent('" + commits_url + "')") COMMITS
    - var forks_url = '/repodetails/forks/?id='+result.owner.login+'&repo='+result.name
    a(href="javascript:void(0)", onclick="loadContent('" + forks_url + "')") FORKS
    - var languages_url = '/repodetails/languages/?id='+result.owner.login+'&repo='+result.name
    a(href="javascript:void(0)", onclick="loadContent('" + languages_url + "')") LANGUAGES
    - var contributors_url = '/repodetails/contributors/?id='+result.owner.login+'&repo='+result.name
    a(href="javascript:void(0)", onclick="loadContent('" + contributors_url + "')") CONTRIBUTORS
    - var pullrequests_url = '/repodetails/pullrequests/?id='+result.owner.login+'&repo='+result.name
    a(href="javascript:void(0)", onclick="loadContent('" + pullrequests_url + "')") PULL REQUESTS
    - var issues_url = '/repodetails/issues/?id='+result.owner.login+'&repo='+result.name
    a(href="javascript:void(0)", onclick="loadContent('" + issues_url + "')") ISSUES


  h2= result.full_name
  .content


  script.
    function loadContent(url) {
      var contentContainer = document.querySelector(".content");

      var xhr = new XMLHttpRequest();
      xhr.open("GET", url , true);
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
          contentContainer.innerHTML = xhr.responseText;
          contentContainer.style.display = "block"; // Show the content when loaded
        }
      };
      xhr.send();
    }
