body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #f5f5f5;
  text-align: center;
}

.spacer {
  height: 75pt; 
}

.inline-icon {
  vertical-align: bottom;
  font-size: 20px !important;
}

.border{
  border-radius: 10px;
  height: 30px;
  text-align: center;
  margin-top: 40px;
 margin-right: 10px;
 margin-left: 50px;
  
}
/* .button  {
    background-color:skyblue;
    margin-left: 20px;
    border-radius: 3px;
    height:30px;
    
    
}
.button:hover{
  background-color: palevioletred;
} */
.button {
  border-radius: 4px;
  background-color:skyblue;
  border: none;
  color:black;
  text-align: center;
  height:30px;
  margin-left: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.header{
  
  border-top: 50px;
  /* position: absolute; */
  top: 10px;
  margin: 0;
  text-align: center;
  color:darkmagenta;
  
}

.header-title{
  font-family: 'Cairo Play', sans-serif;
}

.navbar{
  background-color: #b6b6b8;
}

.cards {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width:30%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
/* .text {
  padding: 2px 16px;
} */

/* .container {
  display: flex;
  column-gap: 5px;
  flex-direction: row;
  justify-content: space-between;
  justify-content: flex-start;
  align-content: center;
 }
 } */

.text {
  /* font-size: 40px; */
  font-size: 20px;
  padding-left: 20px;
  padding-top: 20%;
  float: left;
  margin-right: 10px;
}
.card-img{
  height:100%;
  width:50%;
}
.btn {
  background-color: light-green;
  padding: 12px 16px;
  font-size: 16px;
}

.btn:hover {
  background-color: green;
}

.card-fullname {
  font-size: 20pt;
}

.card-username {
  font-size: 10pt;
}



/*Repo Details*/
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
}

.repodetails-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.repodetails-item {
  width: calc(33.33% - 20px);
  margin-bottom: 40px;
  cursor: pointer;
}

.repodetails-item .repodetails-wrap {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.repodetails-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.repodetails-item h4 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  margin: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  text-align: center;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.repodetails-item:hover img {
  transform: scale(1.1);
}

.repodetails-item:hover h4 {
  opacity: 1;
}

#popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

#popup .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  width: 90vw;
  height: 90vh;
  overflow: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#popup .modal-content span.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}
#popup-iframe {
  width: 100%;
  height: 100%;
  border: none;
}


.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
  }
  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  }
  .about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
  }
  .container {
  padding: 0 16px;
  }
  .container::after, .row::after {
  content: "";
  clear: both;
  display: table;
  }
  .title {
  color: grey;
  }
  .button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  }
  .button:hover {
  background-color: #555;
  }
  @media screen and (max-width: 650px) {
  .column {
  width: 100%;
  display: block;
  }
  }


  .sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: #111; */
    overflow-x: hidden;
    padding-top: 60px;
  }

  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidebar a:hover {
    color: #f1f1f1;
  }

  .content {
    display: none;
    /* margin-top: px; */
    margin-left: 250px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    overflow-y: auto;
  }

  h2 {
    padding: 20px;
    text-align: center;
    /* background-color: #b6b6b8; */
  }


  /* *********************************************
                RADIAL TREE CSS 
     *********************************************/

     .menu-item,
     .menu-open-button {
       background: #eeeeee;
       border-radius: 100%;
       width: 80px;
       height: 80px;
       margin-left: -40px;
       position: absolute;
       color: #ffffff;
       text-align: center;
       line-height: 80px;
       -webkit-transform: translate3d(0, 0, 0);
       transform: translate3d(0, 0, 0);
       -webkit-transition: -webkit-transform ease-out 200ms;
       transition: -webkit-transform ease-out 200ms;
       transition: transform ease-out 200ms;
       transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
     }
     .menu-open {
       display: none;
     }
     .lines {
       width: 25px;
       height: 3px;
       background: #596778;
       display: block;
       position: absolute;
       top: 50%;
       left: 50%;
       margin-left: -12.5px;
       margin-top: -1.5px;
       -webkit-transition: -webkit-transform 200ms;
       transition: -webkit-transform 200ms;
       transition: transform 200ms;
       transition: transform 200ms, -webkit-transform 200ms;
     }
     .line-1 {
       -webkit-transform: translate3d(0, -8px, 0);
       transform: translate3d(0, -8px, 0);
     }
     .line-2 {
       -webkit-transform: translate3d(0, 0, 0);
       transform: translate3d(0, 0, 0);
     }
     .line-3 {
       -webkit-transform: translate3d(0, 8px, 0);
       transform: translate3d(0, 8px, 0);
     }
     .menu-open:checked + .menu-open-button .line-1 {
       -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
       transform: translate3d(0, 0, 0) rotate(45deg);
     }
     .menu-open:checked + .menu-open-button .line-2 {
       -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
       transform: translate3d(0, 0, 0) scale(0.1, 1);
     }
     .menu-open:checked + .menu-open-button .line-3 {
       -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
       transform: translate3d(0, 0, 0) rotate(-45deg);
     }
     .menu {
       margin: auto;
       position: absolute;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       width: 80px;
       height: 80px;
       text-align: center;
       box-sizing: border-box;
       font-size: 26px;
     }
     .menu-item:hover {
       background: #eeeeee;
       color: #3290b1;
     }
     .menu-item:nth-child(3) {
       -webkit-transition-duration: 180ms;
       transition-duration: 180ms;
     }
     .menu-item:nth-child(4) {
       -webkit-transition-duration: 180ms;
       transition-duration: 180ms;
     }
     .menu-item:nth-child(5) {
       -webkit-transition-duration: 180ms;
       transition-duration: 180ms;
     }
     .menu-item:nth-child(6) {
       -webkit-transition-duration: 180ms;
       transition-duration: 180ms;
     }
     .menu-item:nth-child(7) {
       -webkit-transition-duration: 180ms;
       transition-duration: 180ms;
     }
     .menu-item:nth-child(8) {
       -webkit-transition-duration: 180ms;
       transition-duration: 180ms;
     }
     .menu-item:nth-child(9) {
       -webkit-transition-duration: 180ms;
       transition-duration: 180ms;
     }
     .menu-open-button {
       z-index: 2;
       -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
       transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
       -webkit-transition-duration: 400ms;
       transition-duration: 400ms;
       -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
       transform: scale(1.1, 1.1) translate3d(0, 0, 0);
       cursor: pointer;
       box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
     }
     .menu-open-button:hover {
       -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
       transform: scale(1.2, 1.2) translate3d(0, 0, 0);
     }
     .menu-open:checked + .menu-open-button {
       -webkit-transition-timing-function: linear;
       transition-timing-function: linear;
       -webkit-transition-duration: 200ms;
       transition-duration: 200ms;
       -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
       transform: scale(0.8, 0.8) translate3d(0, 0, 0);
     }
     .menu-open:checked ~ .menu-item {
       -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
       transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
     }
     .menu-open:checked ~ .menu-item:nth-child(3) {
       transition-duration: 180ms;
       -webkit-transition-duration: 180ms;
       -webkit-transform: translate3d(0.08361px, -104.99997px, 0);
       transform: translate3d(0.08361px, -104.99997px, 0);
     }
     .menu-open:checked ~ .menu-item:nth-child(4) {
       transition-duration: 280ms;
       -webkit-transition-duration: 280ms;
       -webkit-transform: translate3d(90.9466px, -52.47586px, 0);
       transform: translate3d(90.9466px, -52.47586px, 0);
     }
     .menu-open:checked ~ .menu-item:nth-child(5) {
       transition-duration: 380ms;
       -webkit-transition-duration: 380ms;
       -webkit-transform: translate3d(90.9466px, 52.47586px, 0);
       transform: translate3d(90.9466px, 52.47586px, 0);
     }
     .menu-open:checked ~ .menu-item:nth-child(6) {
       transition-duration: 480ms;
       -webkit-transition-duration: 480ms;
       -webkit-transform: translate3d(0.08361px, 104.99997px, 0);
       transform: translate3d(0.08361px, 104.99997px, 0);
     }
     .menu-open:checked ~ .menu-item:nth-child(7) {
       transition-duration: 580ms;
       -webkit-transition-duration: 580ms;
       -webkit-transform: translate3d(-90.86291px, 52.62064px, 0);
       transform: translate3d(-90.86291px, 52.62064px, 0);
     }
     .menu-open:checked ~ .menu-item:nth-child(8) {
       transition-duration: 680ms;
       -webkit-transition-duration: 680ms;
       -webkit-transform: translate3d(-91.03006px, -52.33095px, 0);
       transform: translate3d(-91.03006px, -52.33095px, 0);
     }
     .menu-open:checked ~ .menu-item:nth-child(9) {
       transition-duration: 780ms;
       -webkit-transition-duration: 780ms;
       -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
       transform: translate3d(-0.25084px, -104.9997px, 0);
     }
     .blue {
       background-color: #669ae1;
       box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
       text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
     }
     .blue:hover {
       color: #669ae1;
       text-shadow: none;
     }
     .green {
       background-color: #70cc72;
       box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
       text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
     }
     .green:hover {
       color: #70cc72;
       text-shadow: none;
     }
     .red {
       background-color: #fe4365;
       box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
       text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
     }
     .red:hover {
       color: #fe4365;
       text-shadow: none;
     }
     .purple {
       background-color: #c49cde;
       box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
       text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
     }
     .purple:hover {
       color: #c49cde;
       text-shadow: none;
     }
     .orange {
       background-color: #fc913a;
       box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
       text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
     }
     .orange:hover {
       color: #fc913a;
       text-shadow: none;
     }
     .lightblue {
       background-color: #62c2e4;
       box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
       text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
     }
     .lightblue:hover {
       color: #62c2e4;
       text-shadow: none;
     }